<header class="header clearfix">
<nav>
  <ul class="nav nav-pills float-right">
    <li class="nav-item">
    <!-- This is how Bootstrap's "Narrow Jumbotron" shows first nav item, for coloring, but I can't get the switchthing to work when other pages are active. Revisit this. 
    <%= link_to root_path, class: "nav-link active" do %>
    Home <span class="sr-only">(current)</span>
    <% end %>
    -->
    <%= link_to "Home", root_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
    <%= link_to "About", about_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
    <%= link_to "FAQs", faqs_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
    <%= link_to "Contact", contact_path, class: "nav-link" %>
    </li>
  </ul>
</nav>
<h3 class="text-muted">It's Walk Time</h3>
</header> 
