<!doctype html>
<html lang="en">
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/bootstrap_default' %>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/html5_shim' %>
  </head>
  <body>
    <%= render 'layouts/container' %>
  </body>
</html>
